*{
    padding: 0;
    margin: 0;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    padding: 10px 20px;
    text-align: center;
}

header h2{
    color:#6495ed;
    margin-bottom: 15px;
}

hr.dividers{
    border-top: 2px solid #cbddff;
    margin-bottom: 20px;
}

header p{
    color: #475879;
    font-style: italic;
    font-size: 14px;
}

#user-custom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#user-num-squares{    
    border-style: solid;
    border-color: rgb(190, 213, 255);
    border-width: 2px;
    border-radius: 8px;

    padding:8px;

    text-align: center;
    color: #475879;
}

#user-num-squares:focus{
    /* remove default outline */
    outline: none;

    border-color: transparent;
    box-shadow: 0px 3px 8px #85b0ffff;;
}

#user-num-squares::placeholder{
    color:#475879;
    font-style: italic;
    opacity: 70%;
}

#new-canvas{
    background-color:#6495ed;
    padding: 12px 15px;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border-style: none;
    border-radius: 8px;

    /* border-color: #6495ed; */
    /* border-width: 3px; */
}

#grid-container{
    display: flex;
    background-color: #6495ed;
    padding: 10px;
    margin-bottom:15px;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 1;
    aspect-ratio: 1/1;
    border-radius: 8px;
}

#grid-row{
    display:flex;
    /* set flex-grow on child element */
    flex-grow: 1;
    flex-shrink: 1;
}

#grid-square{
    /* min-width: 20px;
    min-height: 20px; */
    background-color: #cbddff;
    border-style: solid;
    border-width: 2px;
    border-radius: 15%;
    border-color: #6495ed;
    /* set flex-grow and shrink on child element */
    flex-grow: 1;
    flex-shrink: 1;
    /* force a perfect square ratio width/height of 1:1 */
    aspect-ratio: 1/1;
}

#grid-square.grid-hover{
    background-color: rgba(255, 255, 255, 1);
    transition: ease-in;
    transition-duration: 50ms;
}

#grid-square.grid-hover-exit{
    background-color: #cbddff;
    transition: ease-out;
    transition-duration: 10s;
}